.flex {
    display: flex;
}

.col_head {
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.add_btn {
    height: max-content;
    margin: -10px 0 0;
}

.item_txt {
    margin: auto 10px auto;
    width: 100%;
}

.item_ctnr {
    justify-content: space-between;
    width: 100%;
    margin: 0 5px 0;
}

.move_btn {
    border-radius: 5px;
    height: inherit;
    /* background: none;
    border: none; */
    width: 10%;
    min-width: 30px;
    font-weight: bold;
    font-size: large;
}

.item_fxn_col {
    flex-direction: column;
    height: inherit;
    justify-content: center;
}

.kanban_col {
    flex-direction: column;
    width: calc((100vw - 20px) / 3);
    height: calc(100vh - 10px);
    margin: 5px 0 5px 5px;
    background-color: #ccc;
    border-radius: 5px;
    outline: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.kanban_title {
    margin: 0;
}

.kanban_item {
    min-height: 10%;
    width: calc(100% - 10px);
    margin: 5px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

body {
    overflow: hidden;
    margin: 0;
}