body {
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main {
    width: 90vw;
    height: 50vw;
}

#tooltip_text {
    color: black;
    font-size: 1em;
    z-index: 5;
    position: relative;
}