.flex {
    display: flex;
}

.overlay {
    position: absolute;
    left: 0;
    width: 80vw;
    image-rendering: crisp-edges;
}

.hidden {
    display: none;
}

#toggle_menu {
    position: absolute;
    left: auto;
    right: 30px;
}
