html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status_card {
    outline: 2px gray solid;
    box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
    font-size: 3em;
    width: 500px;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;

    display: row;
    justify-content: space-between;
    align-items: center;
}

.status {
    font-size: 1.5em;
}
