body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    margin: 0;
}

#intro_title {
    text-shadow: 7px 7px #fff, 10px 10px #000, 4px 4px #000, 4px 10px #000, 10px 4px #000;
    text-align: center;
}

#intro_invis {
    text-shadow: 7px 7px transparent, 10px 10px transparent, 4px 4px transparent, 4px 10px transparent, 10px 4px transparent;
    text-align: center;
    color: transparent;
}

#intro_ctnr {
    font-size: 8em;
    
    font-family: 'Kanit', sans-serif;

    display: flex;
    
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-right: 15%;
      font-size: 10em;
    }
  
    to {
      margin-right: 0%;
      font-size: 8em;
    }
}

#trax {
    position: absolute;
    left: 0;
    top: calc(50% - 5vw);
}

#wiper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 100vw;

    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-name: wipe;
    animation-fill-mode: forwards;
}

@keyframes wipe {
    from {
      right: 100vw;
    }
  
    to {
      right: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

#lines {
    font-family: 'Bitter', serif;
    font-size: 4em;

    position: absolute;

    visibility: hidden;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 50;
}

#pants {
    position: absolute;
    left: 30vw;
    top: calc(50vh - 20vw);
}

.line {
    text-align: center;
    position: absolute;
    white-space: nowrap; 
}

#wiper_circle {
    z-index: 100;

    height: 1px;
    width: 1px;
    border-radius: 50%;
    position: absolute;
    right: 50vw;
    top: 50vh;

    transform-origin: 50% 50%;

    animation-duration: 2s;
    animation-delay: 13s;
    animation-name: wipe_circle;
    animation-fill-mode: forwards;
}

@keyframes wipe_circle {
    from {
        transform: scale(100, 100);
    }
  
    to {
        transform: scale(10000, 10000);
    }
}

#lines_2 {
    font-family: 'Bitter', serif;
    font-size: 4em;

    position: absolute;

    visibility: hidden;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 200;
}

#shirts {
    position: absolute;
    left: 0;
    top: calc(50% - 20vw);

    z-index: 195;
}

#wiper_finish {
    z-index: 300;

    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 100vw;

    animation-duration: 1.5s;
    animation-delay: 20s;
    animation-name: wipe;
    animation-fill-mode: forwards;
}