#errormsg {
	color: transparent;
	user-select: none;
}

#addrepo {
	height: fit-content;
	width: fit-content;
}

#copylinks {
	display: none;
}

#download {
	display: none;
}

#loadinggif {
	display: none;
}

#commitlinks {
	font-family: monospace;
}

#datepicker {
	display: none;
}

.inputrepolink {
	margin-bottom: 10px;
}

.note {
	width: 40vw;
}

.warning {
	color: red;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.add {
	color: green;
}

.del {
	color: red;
}

body {
	padding: 2%;
}
