#errormsg {
	color: transparent;
	user-select: none;
}

#copylinks {
	display: none;
}

#download {
	display: none;
}

#loadinggif {
	display: none;
}

#commitlinks {
	font-family: monospace;
}

.note {
	width: 40vw;
}

.warning {
	color: red;
}

.flex {
	display: flex;
}

.add {
	color: green;
}

.del {
	color: red;
}

body {
	padding: 2%;
}
