#errormsg {
	color: transparent;
	user-select: none;
}

#addrepo {
	height: fit-content;
	width: fit-content;
}

#copylinks {
	display: none;
}

#download {
	display: none;
}

#loadinggif {
	display: none;
}

#commitlinks {
	font-family: monospace;
}

#datepicker {
	display: none;
}

.inputrepolink {
	margin-bottom: 10px;
}

.warning {
	color: red;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.add {
	color: green;
}

.del {
	color: red;
}

@keyframes darkmodeon {
	from {background-color: white;}
	to {background-color: black;}
}

body.darkmode, input.typefield.darkmode, button.darkmode, input#trigger.darkmode {
	background-color: black;
	transition: 1s ease-out;
	color: #ccc;
}

body, input.typefield, button, input#trigger {
	transition: 1s ease-out;
}

input.typefield.darkmode, button.darkmode, input#trigger.darkmode {
	outline: 1px solid white;
	border-radius: 2px;
}

input.darkmode::placeholder {
	color: #ccc;
	opacity: 1;
}

body {
	padding: 2%;
}